<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="node_modules/angular/angular-csp.css">
  <script src="node_modules/angular/angular.js" defer></script>
  <script src="src/tasks/tasks.js"defer></script>
  <script src="src/index.js" defer></script>
</head>

<body ng-cloak ng-controller="AppCtrl">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>{{title}}</h1>
      </div>
          <section class="col">
            <div >Welcome {{ user.name }}</div>
                <span ng-click="logIn()" ng-hide="isLoggedIn"> Login</span>
                <span ng-click="logOut()" ng-show="isLoggedIn"> Log out</span>
          </section>
    </div>
    <section class="row" ng-cloak ng-controller="TasksCtrl">
      <section ng-show="!task.isEdited">
        <div class="list-group" >
          <!-- <div class="list-group-item "  ng-repeat="task in tasks" ng-class="{'active': task.id == taskSelected.id}"> -->
            <div class="list-group-item "  ng-repeat="task in tasks" ng-class="task.id == taskSelected.id? 'active': ''" ng-click="selectTask()">
              {{$index+1}}. {{task.name}}
          </div>
        </div>
        <button class="btn btn-info" ng-click="edit()">Edit</button>
      </section>
      <form ng-show="task.isEdited">
        <!-- .form-group>label{Name}+input.form-control -->
        <div class="form-group mb-3"><label for="task_name">Name</label>
          <input id="task_name" type="text" class="form-control" ng-model="taskCopied.name">
        </div>
        <div class="form-group mb-3"><label for="task_completed">
            <input id="task_completed" type="checkbox" ng-model="taskCopied.completed">
            Completed</label>
        </div>
        <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
        <button class="btn btn-success" ng-click="save()">Save</button>
      </form>
    </section>
  </div>
</body>

</html>