<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Angular</title>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="node_modules/angular/angular-csp.css">
  <script src="node_modules/angular/angular.js" defer></script>
  <script src="src/tasks/tasks.js" defer></script>
  <script src="src/index.js" defer></script>
</head>

<body ng-controller="AppCtrl">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Angular {{title}}</h1>
      </div>
      <div class="col-5">
        <span>Welcome {{ user.name }}, </span>

        <span ng-click="login()" ng-hide="isLoggedIn">Login</span>

        <span ng-click="logout()" ng-hide=" !isLoggedIn ">Logout</span>

      </div>
    </div>
    <!-- .row>.col*2 -->
    <div class="row" ng-controller="TasksCtrl">
      <div class="col">
        <!-- .list-group>.list-group-item*3{$.Task $$} -->
        <div class="list-group">

          <div class="list-group-item" 
              ng-class=" { 
                'active': item.id == selectedTask.id,
                'task-completed': item.completed
              } " 
              ng-click="select(item)"
              ng-repeat="item in tasks">
              <input type="checkbox">
              <span> {{$index+1}}. {{item.name}}</span>
          </div>

        </div>

      </div>
      <div class="col">

        <div ng-if="mode === 'show' ">
          <dl>
            <dt>Name:</dt>
            <dd>{{selectedTask.name}}</dd>

            <dt>Completed:</dt>
            <dd>{{selectedTask.completed? 'Yes':'No'}}</dd>

            <button class="btn btn-info" ng-click="edit()">Edit</button>
          </dl>
        </div>

        <form ng-if="mode === 'edit'">
          <!-- .form-group>label{Name}+input.form-control -->

          <!-- <input type="text" ng-model="$parent.placki" > -->

          <div class="form-group mb-3">
            <label for="task_name">Name</label>
            <input id="task_name" type="text" class="form-control" ng-model="draft.name">
          </div>

          <div class="form-group mb-3">
            <label for="task_completed">
              <input id="task_completed" ng-model="draft.completed" type="checkbox"> Completed</label>
          </div>

          <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
          <button class="btn btn-success" ng-click="save()">Save</button>
        </form>
      </div>
    </div>
</body>

</html>